 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Sky Kim is a Software Engineer. My research interests center on medical image processing, 3D visualization, artificial intelligence, user interface design and ergonomics.</p>
                </div>
                <div class="col-lg-4">
                    <p>I suffered from spinal cord injury last few years ago. I have a walking disability, but I can drive and walk around with a cane. Since then, I have strong interests in disability rights and rehabilitation.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="skykim_cv_en.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
