 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Software Engineer. My research interests center on game engine (metaverse, digital twin, simulation, rendering), AI/ML (reinforcement learning, deep learning) and healthcare (2D/3D medical imaging, computer vision, ultrasound imaging diagnosis).</p>
                </div>
                <div class="col-lg-4">
                    <p>I suffered from a spinal cord injury last few years ago. I have a walking disability but now I can walk around inside and outside with a cane. Since then, I had strong interests in disability awareness, human rights, rehabilitation and physical therapy. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="skykim_cv_en.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
